<h2>{% trans %}Ringraziamenti{% endtrans %}</h2>
<h4>{% trans %}Partners del progetto{% endtrans %}</h4>
<p>{% trans %}Provincia Autonoma di Bolzano, consorzio dei comuni,  informatica altoadige{% endtrans %}</p>

<h2>{% trans %}Piattaforma{% endtrans %}</h2>
<p>{% trans %}La tecnologia su cui si basa il portale è CKAN (Comprehensive Knowledge Archive Network), 
	piattaforma open source e web-based sviluppata dalla Open Knowledge Foundation per l’archiviazione e distribuzione di dati aperti.{%endtrans %}</p>
