
<div class="align-text">
	<h2>{% trans %}Dank{% endtrans %}</h2>

	<p>{% trans %}Autonome Provinz Bozen, Autonome Provinz Trient, Gemeindenverband Südtirol, Südtiroler Informatik AG{% endtrans %}</p>

	<h2>{% trans %}Plattform{% endtrans %}</h2>
	<p>{% trans %}Das offene Datenportal Südtirol basiert auf der Technologie „CKAN“ (Comprehensive Knowledge Archive Network), eine Open Source und webbasierte Plattform, von Open Knowledge Foundation zur Archivierung und Verteilung von offenen Daten entwickelt.
	{%endtrans %}</p>
</div>
