<div class="align-text">
    <h2>FAQ</h2>

    <h3 id="sezione0">Übersicht</h3>

    <ol>
        <li><a href="#sezione1">Was ist das Open Data Portal Südtirol?</a></li>
        <li><a href="#sezione2">Was sind Open Data?</a></li>
        <li><a href="#sezione3">Warum einen einzigen Katalog von offenen Daten für ganz Südtirol?</a></li>
        <li><a href="#sezione4">Was beinhaltet der Katalog der offenen Daten Südtirols?</a></li>
        <li><a href="#sezione5">An wen richtet sich das Portal der offenen Daten Südtirol?</a></li>
        <li><a href="#sezione6">Welche Daten können heruntergeladen werden?</a></li>
        <li><a href="#sezione7">Wie können Sie die Daten herunterladen?</a></li>
        <li><a href="#sezione8">Wer kann Daten im Datenkatalog Südtirol veröffentlichen?</a></li>
        <li><a href="#sezione9">Wie können Daten über den offene Datenkatalog veröffentlicht werden?</a></li>
        <li><a href="#sezione10">Was sind offene Formate?</a></li>
        <li><a href="#sezione11">Was sind Metadaten?</a></li>
        <li><a href="#sezione12">Wie lassen sich Dateien im CSV-Format öffnen?</a></li>
        <li><a href="#sezione13">Wie lassen sich Dateien im shp-Format öffnen?</a></li>
        <li><a href="#sezione14">Wie lassen sich Dateien im json-Format öffnen?</a></li>
        <li><a href="#sezione15">Was ist eine API?</a></li>
        <li><a href="#sezione16">Was sind die Lizenzen für die Wiederverwendung von Daten?</a></li>
        <li><a href="#sezione17">Was ist die CCO-Lizenz?</a></li>
        <li><a href="#sezione18">Was ist die CC-BY-Lizenz?</a></li>
        <li><a href="#sezione19">Wo finden Sie weitere Informationen?</a></li>
        <li><a href="#sezione20">Wo finden Sie eine Liste von offenen Formaten?</a></li>
    </ol>

    <br/>
    <h3 id="sezione1">1 - Was ist das Open Data Portal Südtirol?</h3>

    <p>Das Open Data Portal Südtirol ist ein Katalog, der Suche, Zugriff, Download- und Vorschau auf die Open Data in Südtirol zentral ermöglicht. Die hier gesammelten öffentlichen Daten und Dokumente sind bereit zur Wiederverwendung, aus technologischer und rechtlicher Sicht, da die in den nationalen Richtlinien festgelegten Standards eingehalten worden sind.
    Die Leitlinien erläutern die rechtlichen Aspekte der Veröffentlichung der Daten, die Formate, Protokolle für die Publizierung und die Dokumentation (Metadaten) der im Katalog enthaltenen Daten.
    Die Daten werden ständig geladen und in Zusammenarbeit mit allen öffentlichen und privaten Organisationen im Land entwickelt.
    </p>

    <br/>
    <a href="#sezione0" class="faq_index">zurück zur Übersicht</a><br/>
    <br/>

    <h3 id="sezione2">2 - Was sind die Open Data?</h3>
    <p>Daten sind einzelne Informationen unterschiedlicher Art, die eindeutig reproduzierbare Fakten beschreiben und zum Ausdruck bringen und in digitaler Form gespeichert werden können. 
    <br/>
    Der Kodex der Digitalen Verwaltung (Art. 68, Abs. 3.b) definiert offene Daten wie folgt:
        <br/>
        <ul>
            <li>sie stehen gemäß den Bedingungen einer Lizenz zur Verfügung, die ihre freie Verwendung erlaubt, auch für kommerzielle Zwecke, in aufgeschlüsselter Form,</li>
            <li>sie sind mittels Informations- und Kommunikationstechnologien zu erreichen, einschließlich öffentlicher und privater Computer-Netzwerke, in offener Form in Übereinstimmung mit Abs. a), sie sind für die Verwendung durch automatisierte Computerprogramme geeignet und sind mit den entsprechenden Metadaten ausgerüstet,</li>
            <li>sie stehen kostenlos durch die Informations- und Kommunikationstechnologien zur Verfügung, einschließlich öffentlicher und privater Computer-Netzwerke, oder sie werden für ihre Reproduktion und Verbreitung als Nebenkosten  zur Verfügung gestellt.</li>
        </ul>
    </p>

    <br/>
    <a href="#sezione0" class="faq_index">zurück zur Übersicht</a><br/>
    <br/>

    <h3 id="sezione3">3 - Warum ein einzelner Katalog von offenen Daten für ganz Südtirol?</h3>
    <p>Die Entscheidung in Südtirol die Daten über ein einziges Portal zu veröffentlichen, erleichtert die Wiederverwendung und bietet einen zentralen Zugriff. Das Teilen wird verbessert, die Datenqualität erhöht und es wird eine umfangreiche Unterstützung bei der Suche nach Daten geboten. Ziel ist es, die Wiederverwendung von Daten durch die Förderung der Entwicklung von innovativen Ideen zu bewerben. </p>

    <br/>
    <a href="#sezione0" class="faq_index">zurück zur Übersicht</a><br/>
    <br/>

    <h3 id="sezione4">4 - Was beinhaltet der Katalog der offenen Daten Südtirols?</h3>
    <p>Im Katalog sind Daten oder Dokumente mit offenen Daten der öffentlichen Verwaltungen enthalten, die im Rahmen ihrer institutionellen Tätigkeiten produziert werden, die, um veröffentlicht zu werden, laut den Standards der Rechtmäßigkeit, Qualität, Metadating usw. untersucht worden sind.  
    Derzeit und auch in Zukunft werden keine Daten und Dokumente ohne Zugriffsberechtigung veröffentlicht (L. 241/90), die Daten aus dem Steuerregister und jene, die für die Art oder Absicht der Wiederverwertung gegen folgende Punkte verstoßen könnten:
    
        <br/>
        <ul>
            <li>gegen das Recht auf Privatsphäre und Schutz personenbezogener Daten;</li>
            <li>gegen die statistische Geheimhaltung, Militär, Industrie, Handel, etc.;</li>
            <li>gegen das Recht Dritter an geistigem Eigentum;</li>
            <li>gegen die öffentliche Sicherheit und die Landesverteidigung oder Durchführung strafrechtlicher Ermittlungen oder Disziplinarmaßnahmen.</li>
        </ul>
    </p>

    <br/>
    <a href="#sezione0" class="faq_index">zurück zur Übersicht</a><br/>
    <br/>

    <h3 id="sezione5">5 - An wen richtet sich das Portal der offenen Daten Südtirol?</h3>
    <p>Das Portal der offenen Daten Südtirol richtet sich an alle: öffentliche, private oder wirtschaftliche Akteure, Forscher, Analysten, zivilgesellschaftliche Organisationen, Medien, usw. ..., die daran interessiert sind, die eigenen Daten im offenen Modus zu veröffentlichen und / oder Daten für die eigenen Tätigkeit zu verwenden.</p>

    <br/>
    <a href="#sezione0" class="faq_index">zurück zur Übersicht</a><br/>
    <br/>

    <h3 id="sezione6">6 - Welche Daten können heruntergeladen werden?</h3>
    <p>Alle Daten, die im Katalog vorhanden sind, können heruntergeladen werden. Für den Download ist kein Authentifizierungsverfahren erforderlich. Es empfiehlt sich trotzdem, die begleitende Lizenz für die Daten einzusehen, weil diese die Verwendung der Daten regelt. 
    Falls Sie Anmerkungen, Ideen, Tipps, Berichte, Beispiele für die Wiederverwendung (Anwendungen, Ansichten, Dienstleistungen, Forschung) zu den veröffentlichten Daten haben, können Sie diese an <a href="mailto:opendata@buergernetz.bz.it">opendata@buergernetz.bz.it</a> senden. 
    </p>

    <br/>
    <a href="#sezione0" class="faq_index">zurück zur Übersicht</a><br/>
    <br/>

    <h3 id="sezione7">7 - Wie können Sie die Daten herunterladen?</h3>
    <p>Sobald Sie die Datenmenge, die Sie herunterladen möchten, ausgewählt haben, müssen Sie dem Link auf der Ressourcenauswahl folgen (= die Datei zum Herunterladen oder Zugriff auf die WSDL-Beschreibung eines interoperablen Web Services) und auf den roten Knopf "Mehr dazu" klicken, der auf der rechten Seite der Beschreibungskarte erscheint.</p>

    <br/>
    <a href="#sezione0" class="faq_index">zurück zur Übersicht</a><br/>
    <br/>

    <h3 id="sezione8">8 - Wer kann Daten im Katalog des Open Data Portal Südtirol veröffentlichen?</h3>
    <p>Alle Abteilungen und Einrichtungen des Landes sowie allen öffentlichen Institutionen und abhängigen Körperschaften, die im Land tätig sind, können ihre Daten im Einklang mit der der Open Government Data (OGD) Politik der Autonomen Provinz Bozen über das Portal Open Data Südtirol veröffentlichen.</p>

    <br/>
    <a href="#sezione0" class="faq_index">zurück zur Übersicht</a><br/>
    <br/>

    <h3 id="sezione9">9 - Wie können Daten im Katalog des Open Data Portals Südtirol veröffentlicht werden?</h3>
    <p>Wer über die Berechtigung verfügt, im Katalog Daten zu veröffentlichen (siehe unter 8. „Wer kann Daten im Katalog des Open Data Portal Südtirol veröffentlichen?“) muss zuerst mit der Arbeitsgruppe Kontakt aufnehmen (<a href="mailto:opendata@buergernetz.bz.it">opendata@buergernetz.bz.it</a>). Die Arbeitsgruppe liefert dann alle Informationen und unterstützt auch die Erstellung automatisierter Prozesse, bei denen Daten über interoperable Plattformen zur Verfügung gestellt werden.
    Die wesentlichen Schritte sind wie folgt: 
    
        <br/>
        <ul>
            <li>prüfen, ob die Daten nicht durch spezifische Bindungen (Datenschutz, Rechte Dritter, usw.) geschützt sind;</li>
            <li>Lizenz- Vereinbarungen treffen;</li>
            <li>Bereitstellung der Daten in offenen Formaten;</li>
            <li>Metadaten-Informationen liefern;</li>
            <li>Update-Aktivitäten vereinbaren.</li>
        </ul>
    </p>

    <br/>
    <a href="#sezione0" class="faq_index">zurück zur Übersicht</a><br/>
    <br/>

    <h3 id="sezione10">10 - Was sind die offenen Formate?</h3>
    <p>Gemäß Kodex der Digitalen Verwaltung lautet die Definition des Datenformats von offenen Daten wie folgt: Ein veröffentlichtes Datenformat, ausführlich dokumentiert und neutral gegenüber den technologischen Instrumenten für die Nutzung der Daten (Art 68, c. 3, Buchstabe. a), CAD); um beispielsweise eine Tabelle zu erstellen erfüllt das CSV-Format (siehe " Wie lassen sich Dateien im CSV-Format öffnen?") diese Anforderung wie folgt:</p>
        <ul>
            <li>es sich um ein Datenformat handelt (z.B. kein Bild);</li>
            <li>es in seiner Einfachheit gut dokumentiert ist;</li>
            <li>es in Hinblick auf die notwendigen technologischen Instrumente neutral ist, da es mit unterschiedlicher Software auf verschiedenen Plattformen geöffnet werden kann.</li>

        </ul>
    <br/>
    <a href="#sezione0" class="faq_index">zurück zur Übersicht</a><br/>
    <br/>

    <h3 id="sezione11">11 - Was sind Metadaten?</h3>
    <p>Mit dem Begriff Metadaten werden Informationen bezeichnet, die einen Datensatz beschreiben. Beschreibende Metadaten stellen ein Informationsniveau dar, die in den Daten enthalten sind und durch einige Funktionen die Daten leichter identifizierbar machen. Um die Verfügbarkeit und Interoperabilität der Daten zu erhöhen, müssen Elemente wie Titel, Beschreibung, Link, Lizenz, Gültigkeitszeitraum, Leitungsorgan, Größe usw. angezeigt werden.
    Die Metadaten sind die Eckpfeiler des Katalogs, ohne sie wäre es nämlich nicht möglich, die Daten zu katalogisieren.
        <br/>
        
    </p>

    <br/>
    <a href="#sezione0" class="faq_index">zurück zur Übersicht</a><br/>
    <br/>

    <h3 id="sezione12">12 - Wie lassen sich Dateien im CSV-Format öffnen?</h3>
    <p>Das CSV-Format (Comma Separated Value, wörtlich "Comma-Separated Value") ist ein Textformat, das verwendet wird, um Daten in einem tabellarischen Format zu verteilen. Jede Zeile der Datei entspricht einer Zeile der Tabelle und die Inhalte der Zellen werden durch ein Zeichen getrennt (Beistrich, Strichpunkt oder jedes andere Symbol).Die CSV-Datei können sowohl mit Hilfe einer Open Source-Software wie Openoffice Calc gelesen werden, als auch mit einer gekauften Software wie Microsoft Excel.</p>

    <br/>
    <a href="#sezione0" class="faq_index">zurück zur Übersicht</a><br/>
    <br/>

    <h3 id="sezione13">13 - Wie lassen sich Dateien im .shp-Format öffnen?</h3>
    <p>Das Format .shp ("ESRI Shapefile") ist ein Format für georeferenzierte Daten. Es handelt sich um einen Satz von mehreren Dateien mit gleichem Namen und unterschiedlicher Größe (z. Ammcmp.shp, ammcmp.shx, ammcmp.dbf und ammcmp.prj). Aus diesem Grund werden sie in einer einzigen ZIP-Datei verteilt (ein Format, das komprimiert und Dateien gleichzeitig in einem einzigen Archiv verteilt). Bei Verwendung müssen die Dateien zunächst entkomprimiert werden, um sie danach mit einer GIS-Software zu öffnen (Geographical Information Systems), wie beispielsweise Quantum GIS, Openjump, gvSIG ESRI ArcGIS usw.</p>

    <br/>
    <a href="#sezione0" class="faq_index">zurück zur Übersicht</a><br/>
    <br/>

    <h3 id="sezione14">14 - Wie lassen sich Dateien im .json-Format öffnen?</h3>
    <p>Das .json-Format (JavaScript Object Notation) ist ein Format für den Austausch von Daten im Client-Server-Netz. Es wird in der Programmierumgebung als Alternative zu XML / XSLT verwendet. Da das JSON-Format so einfach ist, ist es rasch in Umlauf gekommen. Mit JavaScript ist es für den Benutzer besonders einfach die Analyse (Parsing) durchzuführen, denn es genügt der einfacher Aufruf einer Funktion (die Funktion "eval ()"). Das Format ist nicht für den direkten Einsatz von Desktop-Anwendungen geeignet und kann folglich nicht so einfach genutzt werden wie andere Datenformate. Mit einem "JSON-Viewer" können die Daten im Browser angezeigt und mit kostenlosen Tools wie „Konklone“ in andere Formate konvertiert werden.</p>

    <br/>
    <a href="#sezione0" class="faq_index">zurück zur Übersicht</a><br/>
    <br/>

    <h3 id="sezione15">15 - Was ist eine API?</h3>
    <p>Das Akronym API (Application Programming Interface) zeigt an, wie Computerprogramme miteinander kommunizieren. Es kann als Kommunikationsprotokoll verstanden werden, mit dem Programmierer andere Programme abfragen. Der Open Data Katalog kann über die API „CKAN“ abgefragt werden, die mit offenen Spezifikationen veröffentlicht sind.</p>

    <br/>
    <a href="#sezione0" class="faq_index">zurück zur Übersicht</a><br/>
    <br/>

    <h3 id="sezione16">16 - Was sind die Lizenzen für die Wiederverwendung von Daten?</h3>
    <p>In den meisten nationalen Gesetzen gibt es Rechte auf das geistige Eigentum, wodurch Dritte an der Nutzung, Wiederverwendung und Umverteilung von Daten ohne ausdrückliche Genehmigung gehindert werden. Sobald geklärt ist, dass die Eigentumsrechte an den öffentlichen Daten keinen Einschränkungen unterliegen,  muss eine Lizenz vergeben werden, die Bedingungen und Verfahren für die Weiterverwendung auch für gewerbliche Zwecke regelt (gemäß Kodex der digitalen Verwaltung, Artikel 8, 36/2006 und Art. 68). Die Landesverwaltung  verwendet normalerweise die Lizenz “Creative Commons Zero (CC0)“ und in besonderen und begründeten Fällen die Lizenz „Creative Commons Namensnennung (CC-BY)".</p>

    <br/>
    <a href="#sezione0" class="faq_index">zurück zur Übersicht</a><br/>
    <br/>

    <h3 id="sezione17">17 - Was ist die Lizenz CC0?</h3>
    <p>Creative Commons Zero (CC0) ist eine Erklärung, die eine vollkommen freie und kostenlose Verwendung zu privaten und zu gewerblichen Zwecken ermöglicht. Sobald die CC0-Erklärung einem Objekt  (Datensatz oder Dokument) zugeordnet wird, verzichtet man auf alle Rechte bezogen auf das Objekt, seinen Inhalten und seinen Daten in der maximalen von Gesetzt zulässigen Art und Weise. Die CC0-Erklärung steht in Einklang mit der Politik der offenen Daten, die von der Südtiroler Landesregierung vorangetrieben wird. Unter dem folgenden Link können Sie den zusammenfassenden Text in deutscher Sprache einsehen <a href="http://creativecommons.org/publicdomain/zero/1.0/deed.de" target="_blank" title="">http://creativecommons.org/publicdomain/zero/1.0/deed.de</a>   </p>

    <br/>
    <a href="#sezione0" class="faq_index">zurück zur Übersicht</a><br/>
    <br/>

    <h3 id="sezione18">18 - Was ist die Lizenz CC-BY?</h3>
    <p>In besonderen, speziell dokumentierten Fällen in denen die CC0-Erklärung nicht angewandt werden kann, stellt die Lizenz Creative Commons CC BY "Namensnennung", eine Alternative dar. Mit der CC-BY-Lizenz können Datensätze oder Dokumente verteilt und modifiziert werden. Zudem können von Original abgeleitete Werke erstellt werden. Dies gilt auch für kommerzielle Zwecke, sofern der jeweilige Autor bzw. Ersteller des Datensatzes in der Weiterverwendung genannt wird. 
    Auch diese Lizenz bringt den Grundsatz des breiten Zugangs und der kostenfreien Nutzung auch für kommerzielle Zwecke zum Ausdruck. Die einzige Verpflichtung des Lizenznehmers (derjenige, der den mit dieser Lizenz ausgegebenen Datensatz oder Dokument  übernimmt) ist es, den Autor der Datensatzes oder des Dokuments in der Weiterverwendung zu zitieren. Diese Lizenz gilt für Datensätze, die eindeutig durch das Urheberrecht geschützt sind (Art. 102-bis des Gesetzes Nr. 633/41 und nachfolgende Änderungen). Unter diesem Link können Sie die Zusammenfassung des Textes in deutscher Sprache einsehen.
    <a href="https://creativecommons.org/licenses/by/4.0/deed.de" target="_blank" title="">https://creativecommons.org/licenses/by/4.0/deed.de</a>
    </p>

    <br/>
    <a href="#sezione0" class="faq_index">zurück zur Übersicht</a><br/>
    <br/>

    <h3 id="sezione19">19 - Wo finden Sie weitere Informationen?</h3>
    <p>Diese FAQ werden ständig erweitert und bereichert dank der Beiträge der Benutzer dieses Katalogs. Bitte senden Sie Ihre Fragen an <a href="mailto:opendata@buergernetz.bz.it">opendata@buergernetz.bz.it</a>.</p>

    <br/>
    <a href="#sezione0" class="faq_index">zurück zur Übersicht</a><br/>
    <br/>

    <h3 id="sezione20">20 - Wo finden Sie eine Liste von offenen Formaten?</h3>
    <p><a href="formats" target="_blank" title="Link esterno, si apre in una nuova finestra">Die Liste der offenen Datenformate befindet sich auf der folgenden Webseite.</a></p>

    <br/>
    <a href="#sezione0" class="faq_index">zurück zur Übersicht</a><br/>
    <br/>
</div>