<div  class="align-text">
	<h2>Liste der offenen Formattypen</h2>

	<p>
		Jede Anwendungsdomäne benutzt eigene technische Standards: Die Formate der Dokumente unterscheiden sich von 

		denen der Tabellen und von denen der Graphiken, Kartenkunde, Bilder, Videos usw. Die am häufigsten verwendeten 

		offenen Formate wurden in den Open Data-Richtlinien der Agenzia per l’Italia Digitale (AgID) festgelegt und deren 

		Anwendung wird für die Veröffentlichung der Daten im Katalog daten.buergernetz.bz.it empfohlen. Es sollten möglichst 

		immer mehrere Formate angeboten werden, um die Möglichkeit der Weiterverwendung zu erhöhen. Die in den folgenden 

		Tabellen vorgeschlagenen Formate wurden im Hinblick auf internationale Standards und auf die vom Gesetzbuch für

		digitale Verwaltung (Codice dall'Amministrazione Digitale -CAD-) vorgesehenen Normen für die Ausgabe der Daten 

		der öffentlichen Verwaltungen Südtirols gemäß dem Paradigma der Open Government Data ausgewählt. 
	</p>

	<h3>Offene Formate für Dokumente</h3>

	<p>
	    Bei Dokumenten werden, sofern vorhanden, internationale und nationale Standards für XML-Dokumente empfohlen. Die 

	    Tabelle 1 enthält eine Liste von offenen Formaten für die am häufigsten verbreiteten Dokumentendaten, auf die man 

	    Bezug nehmen möchte. In Bezug auf Dokumente, wie z.B. Erlasse oder Verwaltungsakten, ist zu beachten, dass wenn 

	    tabellenförmige Daten ohne zusätzliche Elemente (z.B. Graphiken, Formeln, Datentypen, Metadaten) veröffentlicht 

	    werden sollen, nicht Formate wie PDF oder "Open Document Text" (ODT) benutzt werden sollten, sondern das Format 

	    "Comma Separated Values" (CSV). Bei anderen tabellenförmigen Daten mit zusätzlichen Elementen wird empfohlen, 

	    möglichst das Format "OpenDocument Spreadsheet" (ODS) zu benutzen. 
	</p>

	<br/>
	<table style="width:100%" border="1">
	  <tr>
	    <th>Bezeichnung (Abkürzung) und Beschreibung</th>
	    <th class="format_th">Datenart</th>		
	    <th class="format_th">Erweiterung</th>
	  </tr>
	  <tr>
	    <td>
			ODT (Open Document Text): Es handelt sich um einen quelloffenen Standard für XML-Textdateien und gehört zum Standard 

			OASIS Open Document Format for Office Applications [18]. Er wurde als Hauptformat für die Texte einiger Suiten für die 

			Büroautomatisierung wie OpenOffice.org und LibreOffice angewendet und wird von anderen wie Microsoft Office, Google Docs 

			und IBM Lotus unterstützt. 
		</td>
	    <td align='center'>Dokumentendaten</td>		
	    <td align='center'>.odt</td>
	  </tr>
	  <tr>
	    <td>
			PDF (Portable Document Format): Es handelt sich um ein offenes Format, das von Adobe für die Darstellung von Dokumenten 

			mit Text und Bildern geschaffen wurde, das unabhängig von der Leseplattform (Anwendungsprogramm, Betriebssystem und Hardware).

			Es wurde später durch die ISO-Norm (ISO/IEC 32000-1:2008) mit einer Reihe von unterschiedlichen Formaten standardisiert, von 

			denen jedes ein eigenes Vorrecht hat (z.B. , PDF/UA für die Zugänglichkeit, PDF/H für Dokumente des Gesundheitswesen, PDF/A 

			für die Archivierung usw.). Von der Verwendung zur Verbreitung von Tabellen wird absolut abgeraten. 
		</td>
	    <td align='center'>Dokumentendaten</td>		
	    <td align='center'>.pdf</td>
	  </tr>
	</table>		
	<br/>

	<p>
		<span style="font-weight: bold; font-style: italic;">Tabelle 1</span> <span style="font-style: italic;">Dokumentformate </span>
	</p>


	<h3>Offene Formate für "allgemein strukturierte Daten"</h3>

	<p>
		Die Tabelle 2 zeigt eine erste Liste der offenen Formate, die im Bereich der öffentlichen Verwaltung am häufigsten verbreitet 

		sind und die für die Veröffentlichung von offenen Daten angewandt werden können. Diese Formate eignen sich für die Darstellung, 

		den Datenaustausch und für mehr oder weniger strukturierte Metadaten.  
	</p>

	<br/>
	<table style="width:100%" border="1">
	  <tr>
	    <th>Bezeichnung (Abkürzung) und Beschreibung</th>
	    <th class="format_th">Datenart</th>		
	    <th class="format_th">Erweiterung</th>
	  </tr>
	  <tr>
	    <td>
			Comma Separated Value (CSV): Textdateiformat, das zur tabellenförmigen Darstellung von Informationen benutzt wird, deren 

			Zeilen Linien entsprechen und deren Werte der einzelnen Spalten durch einen Beistrich (oder Strichpunkt) getrennt sind. 

			Es wird häufig verwendet, um den Inhalt von relationalen Datenbanktabellen und elektronischen Arbeitsblättern zu importieren 

			und exportieren. Die Zellen der Tabellen entsprechen den Zeilen in der CSV Textdatei und die Werte der Zellen sind durch ein 

			Trennzeichen getrennt. 
	    </td>
	    <td align='center'>Tabellendaten</td> 
	    <td align='center'>.csv</td>
	  </tr>
	  <tr>
	    <td>
			Tab Separated Value (TSV): Textdateiformat für den Tabellenaustausch, deren Zeilen Linien entsprechen und deren Werte 
			der einzelnen Spalten durch ein Tab-Zeichen getrennt sind. 
	    </td>
	    <td align='center'>Tabellendaten</td> 
	    <td align='center'>.tsv</td>
	  </tr>
	  <tr>
	    <td>
			ODS (Open Document Spreadsheet). XML-Dateiformat mit quelloffenem Standard für Berechnungsblätter. Es gehört zum Standard 

			OASIS Open Document Format for Office Applications [18]. Wie im vorigen Fall wurde es als Hauptformat für die Berechnungsblätter 

			einiger Suiten für die Büroautomatisierung wie OpenOffice.org und LibreOffice angewendet und wird von anderen wie Microsoft Office, 

			Google Docs und IBM Lotus unterstützt. Die Benutzer werden aufgefördert, diese Formate für die Tabellenverteilung zu benutzen. 
	    </td>
	    <td align='center'>Tabellendaten</td> 
	    <td align='center'>.ods</td>
	  </tr>
	  <tr>
	    <td>
			Extensible Markup Language (XML): XML ist eine verallgemeinerte Auszeichnungssprache, die auf einem Mechanismus basiert, mit 

			dem die Bedeutung der Elemente in einem Dokument oder einem Text anhand von W3C-genormten Auszeichnungen (Markup) für die 

			Registrierung von Dokumenten und für den Aufbau von anderen spezifischeren Sprachen für die Registrierung von Dokumenten 

			definiert und kontrolliert werden kann. Es gibt Instrumente, die für die Definition der XML-Struktur als DTD- und/oder XML-Schema 

			benutzt werden können. Das XML-Format wird benutzt, um andere Standardformate wie beispielsweise RDF, ODS und viele andere 

			branchenspezifische Formate darzustellen.
	    </td>
	    <td align='center'>Strukturierte Daten</td> 
	    <td align='center'>.xml</td>
	  </tr>
	  <tr>
	    <td>
			Resource Description Framework (RDF):  XML-Dateiformat  mit quelloffenem Standard, der vom World Wide Web Consortium (W3C) 

			für die Codierung, den Austausch und die Weiterverwendung von verlinkten Daten und strukturierten Metadaten angeboten wird, 

			und die Interoperabilität zwischen Anwendungen ermöglicht, die Informationen über das Web austauschen.
	    </td>
	    <td align='center'>Strukturierte Daten</td> 
	    <td align='center'>.rdf</td>
	  </tr>
	  <tr>
	    <td>
			Notation3 (N3) und Turtle: N3 ist ein Dateiformat, das noch komprimierter als das Format ist, das mithilfe der 

			XML-Synthax von RDF erzielt werden kann. Es ist besser von Menschen lesbar und besitzt Merkmale, die von der engen RDF-Anwendung 

			abweichen (z.B. Darstellung von logischen Formeln). Das ähnliche Turtle-Format (auch als Terse RDF Triple Language bekannt) ist 

			eine vereinfachte Version (eine Untereinheit von Funktionen) von N3, die nicht nur die Aspekte bezüglich der RDF-Erweiterung enthält. 
	    </td>
	    <td align='center'>Strukturierte Daten</td> 
	    <td align='center'>.n3</td>
	  </tr>
	  <tr>
	    <td>
			JSON (JavaScript Object Notation): Es ist das am besten von Menschen lesbare Format, das im Vergleich zu ähnlichen Formaten 

			wie XML eine nicht so lange Syntax beibehält. Dieser Aspekt macht es zu einem flexiblen und kompakten Format. Es entsteht 

			durch die Darstellung von einfachen Datenstrukturen in der Programmiersprache JavaScript, bewahrt aber seine Unabhängigkeit 

			gegenüber den Programmiersprachen. Es ist wegen seiner Flexibilität und Kompaktheit weit verbreitet.
	    </td>
	    <td align='center'>Strukturierte Daten</td> 
	    <td align='center'>.json</td>
	  </tr>
	  <tr>
	    <td>
			JSON-LD: Es handelt sich um ein Dateiformat zur Darstellung von verlinkten Daten, die auf der JSON Syntax basieren und 

			kompakter als die Darstellung mit dem RDF-Format ist. Das Format JSON-LD wurde vor Kurzem von W3C standardisiert, um 

			einen besseren Zuspruch von einer großen Anzahl von Programmierern zu erhalten, die bereits JSON kennen und benutzen, 

			aber verlinkte Daten verändern können müssen. 
	    </td>
	    <td align='center'>Strukturierte Daten</td> 
	    <td align='center'>.jsonld</td>
	  </tr>
	</table>
	<br/>

	<p>
		<span style="font-weight: bold; font-style: italic;">Tabelle 2</span> <span style="font-style: italic;">Offene Formate für die Veröffentlichung 
		von "strukturierten" verallgemeinerten offenen Daten, d.h. Daten für keine spezifischen Anwendungsdomänen oder Branchen</span>
	</p>


	<h3>Offene Formate für geographische Daten</h3>

	<p>
		Die geographischen Daten waren unter den verschiedenen Datentypen in den spezifischen Domänen die ersten, die im Hinblick auf Standardisierung 

		und offene Weiterverwendung überarbeitet wurden. Aus diesem Grund sind die Standardformate für geografische und umweltbezogene Daten 

		unterschiedlichster Anwendungsbereiche am häufigsten verbreitet und konsolidiert. 
	</p>

	<br/>
	<table style="width:100%" border="1">
	  <tr>
	    <th>Bezeichnung (Abkürzung) und Beschreibung</th>
	    <th class="format_th">Datenart</th>		
	    <th class="format_th">Erweiterung</th>
	  </tr>
	  <tr>
	    <td>
			Geographic Markup Language (GML) im XML-Format für den Austausch territorialer Vektordaten. Es handelt sich um eine XML-Grammatik, 

			die ein offenes Austauschformat für die territorialen Daten darstellt. Durch die ursprünglich vom Open Geospatial Consortium (OGC) 

			festgesetzten Informationen entstand die ISO-Norm 19136:2008, die die XML-Codierung (XSD-Schema) für die von den unterschiedlichen 

			ISO-Normen der Serie 19100 und die eigenes festgelegten zusätzlichen Klassen definiert: Geometrien, topologische Objekte, Maßeinheiten,

			Basisarten, Zeitreferenzwerte, Funktion, Referenzsysteme, Abdeckung.
	    </td>
	    <td align='center'>Geographische Vektordaten</td> 
	    <td align='center'>.gml</td>
	  </tr>
	  <tr>
	    <td>
			Keyhole Markup Language (KML): Es handelt sich um ein XML-Format zur Darstellung graphischer Daten. Das mit Google entstandene Format 

			wurde dann ein OGC Standard. Die Spezifikationen der Version 2.2 enthalten eine Reihe von XML-Größen, über die die geographischen 

			Koordinaten archiviert werden können, die in WGS84 Koordinaten ausgedrückte Punkte, Linien und Vielecke darstellen, und andere nützliche 

			Größen, mit denen die Stile definiert werden können, in denen die Daten angezeigt werden. Dieses Format sollte nur benutzt werden, wenn 

			die Datei anhand einer angemessenen Strukturierung der Eigenschaften der Geometrien verteilt werden kann. 
	    </td>
	    <td align='center'>Geographische Vektordaten</td> 
	    <td align='center'>.kml</td>
	  </tr>
	  <tr>
	    <td>
			ESRI Shapefile (SHP): Es handelt sich um ein Standardformat de-facto (es ist kein offenes Format, aber dessen Spezifikationen sind bekannt) 

			zur Darstellung der Daten der Geoinformationssysteme (GIS). Es sind Vektordaten. Das Dateiformat Shapefile wurde vom Privatunternehmen ESRI 

			zur Veröffentlichung seiner Spezifikationen erstellt. Die Öffnung der Spezifikationen hat die Entwicklung verschiedener Instrumente zur 

			Verwaltung und Erstellung dieses Formats ermöglicht. Obwohl es sich fälschlicher Weise auf ein Dateiformat Shapefile bezieht, müssen aus 

			praktischer Sicht mindestens drei Dateien berücksichtigt werden:ein .shp mit den geometrischen Formen, ein  .dbf mit der Datenbank der 

			Eigenschaften der geometrischen Formen und eine Datei .shx als Index für die geometrischen Formen. Zu diesen drei Daten kommt auch immer 

			eine .prj Datei hinzu die die Einstellungen des Referenzsystems enthält. Die Dateien können in einer komprimierten Archivdatei (z.B. ".zip") 

			verteilt werden. In diesem Fall muss das Format der Dateien im Archiv als SHP angegeben sein. Es wird empfohlen, die Daten samt der .prj Datei zu verteilen.
	    </td>
	    <td align='center'>Geographische Vektordaten</td> 
	    <td align='center'>.shp, .shx, .dbf, .prj</td>
	  </tr>
	  <tr>
	    <td>
			GeoJSON: Es handelt sich um ein offenes Format zur Darstellung und zum Austausch der territorialen Vektordaten im JSON-Format (JavaScript Object Notation). 

			Alle Daten sind als Objekt codiert, das eine Geometrie, eine Funktion oder eine Funktionssammlung darstellen kann. Mit jedem geographischen Element sind 

			die Eigenschaften über eine Einheit von Namen-/Wertpaaren (Mitglieder) assoziiert.
	    </td>
	    <td align='center'>Geographische Vektordaten</td> 
	    <td align='center'>.json</td>
	  </tr>
	  <tr>
	    <td>
			Geopackage: Es handelt sich um ein offenes Format für die Darstellung der geographischen Daten, das als Alternative zum zuvor beschriebenen Shapefile-Format 

			angesehen werden kann. Es unterstützt SpatiaLite, d.h. eine Erweiterung des Schemas der SQLite Datenbank. Die Anwendung und Verteilung sollte dank der Utility 

			des Formats gefördert werden, das in einer einzigen Datei die Geometrien, die verbundenen Eigenschaften und die Darstellungsweisen verteilen kann. 
	    </td>
	    <td align='center'>Geographische Vektordaten</td> 
	    <td align='center'>.gpkg</td>
	  </tr>
	  <tr>
	    <td>
			Bildformate: Die Rasterdaten können daher mit Dateitypen gespeichert werden, die unterschiedliche Kompressionsalgorithmen ausnutzen und sich 

			auf verschieden Weise auf das Speichermedium  auswirken. Die häufigsten verwendeten Rasterformate lauten: Nicht komprimiert; Mit verlustfreier 

			Kompression (d.h. ohne Datenverlust); Mit verlustbehafteter Kompression (d.h. mit Datenverlust, daher hat die dekomprimierte Datei eine geringere Qualität 

			als die Originaldatei).
	    </td>
	    <td align='center'>Geographische Rasterdaten</td> 
	    <td align='center'>.raw, .bmp, .png, jpeg</td>
	  </tr>
	</table>
	<br/>

	<p>
		<span style="font-weight: bold; font-style: italic;">Tabelle 3</span> <span style="font-style: italic;">Offene Formate für die Veröffentlichung von geografischen offenen Daten</span>
	</p>

	<h3>Proprietäre Formattypen "offen de facto"</h3>

	<p>
		Die Tabelle 4 liefert eine Liste der am weitesten verbreiteten proprietären Formate deren Anwendung in der Veröffentlichung von offenen Daten aber 

		immer auch zusammen mit einem offenen Formattyp empfohlen wird. Es wird darauf hingewiesen, dass Veröffentlichungen von tabellenförmigen  Daten ohne 

		zusätzliche Elemente (z.B. Metadaten, Graphiken, Formeln) nicht im PDF- oder ODT-Format erfolgen müssen, sondern, dass hierfür das zuvor beschriebene 

		CSV Format benutzt werden kann. In anderen Fällen von tabellenförmigen Daten mit zusätzlichen Elementen, insbesondere bei Metadaten, wird die 

		Verwendung des ODS-Formats (ODS = OpenDocument Spreadsheet) empfohlen. Bei Dokumenten wird die Verwendung von eventuell vorhandenen internationalen 

		und nationalen Standards für XML-Dokumente empfohlen.
	</p>

	<br/>
	<table style="width:100%" border="1">
	  <tr>
	    <th>Typologie</th>
	    <th class="format_th">Datenart</th>		
	    <th class="format_th">Erweiterung</th>
	  </tr>
	  <tr>
	    <td>
			Microsoft Excel (bis zur Version 2003):  Microsoft-eigenes Format, das von quelloffenen Programmen lesbar ist und zur Speicherung von Berechnungsblättern dient.
	    </td>
	    <td align='center'>Tabellendaten</td> 
	    <td align='center'>.xls</td>
	  </tr>
	  <tr>
	    <td>
			Microsoft Excel neuere Versionen (XSLX): Microsoft-eigenes Format, das von quelloffenen Programmen lesbar ist, wenn eine komplexen Formatierungen eingeführt 

			werden, die zur Speicherung von Berechnungsblättern dienen.
	    </td>
	    <td align='center'>Tabellendaten</td> 
	    <td align='center'>.xlsx</td>
	  </tr>
	  <tr>
	    <td>
			DXF (Drawing Interchange Format) ist ein Format für CAD-Dateien, die von Autodesk als Lösung für den Datenaustausch zwischen dem Programm 

			AutoCAD und anderen Programmen entwickelt wurden. 
	    </td>
	    <td align='center'>Geographische Vektordaten</td> 
	    <td align='center'>.dxf</td>
	  </tr>
	</table>
	<br/>

	<p>
		<span style="font-weight: bold; font-style: italic;">Tabelle 4</span> <span style="font-style: italic;">Proprietäre Formate“offen de facto” </span> 
	</p>

	<p>
		Diese Formate sollten nur in gleichzeitiger Begleitung eines offenen Formats angeboten werden. Es wird darauf hingewiesen, dass das Angebot dieser 

		Formate möglichst eingeschränkt sein sollte, sie sollten daher nur angeboten werden, um die Wiederverwendung der Daten zu erleichtern und um einen 

		vollständigen zeitlich abgestufteren Übergang auf offene Formate zu gestatten. 
	</p>
</div>
