
<h2>{% trans %}Informationen zu den Open Data in Südtirol{% endtrans %}</h2>
<p>{% trans %}Die Behörden zeichnen sich durch eine Gemeinsamkeit aus: sie erzeugen, verwalten und sammeln Daten als Folge ihrer ordentlichen Tätigkeit.{% endtrans %}</p>

<p>{% trans %}Einige Daten unterliegen bestimmten Einschränkungen, wie etwa dem Schutz der Privatsphäre, der nationalen Sicherheit oder dem geistigen Eigentum. Andere hingegen können frei in Umlauf gebracht und von allen wiederverwendet werden.{% endtrans %}</p>

<p>{% trans %}Informationen zu Radwegen und die Ortsbestimmung lokaler Produkte können die Entwicklung innovativer Dienstleistungen für Touristen, Familien und Bürger anregen. Der Informationsdienst zum öffentlichen Verkehr und zur Situation auf den Straßen lässt sich durch die Miteinbeziehung der Nutzer mittels Feedback verbessern. Daten zu öffentlichen Veranstaltungen und zum Wetter ermöglichen die Erstellung von Anwendungen, die die Sichtbarkeit der Ereignisse noch weiter erhöhen, sowie eine bessere Organisation für die Teilnehmer ermöglichen.{% endtrans %}</p>

<p>{% trans %}Diese Informationen haben großen wirtschaftlichen Wert und ein hohes Potenzial für innovatives Wachstum: die Öffnung öffentlicher Daten verschafft dem Territorium neue Möglichkeiten, beruhend auf der Grundlage ihrer kreativen Wiederverwendung, indem neue Lösungen für gemeinsame Probleme gefunden und erfunden werden, ohne die Tätigkeit der öffentlichen Verwaltung zu belasten. {% endtrans %}</p>

<p>{% trans %}Der Open Data Katalog Südtirol stellt diese Daten zur Verfügung und fördert die Wiederverwendung sowohl unter technologischen als auch rechtlichem Aspekt. Er enthält Datensätze von allen Institutionen aus dem System Südtirol, der Autonomen Provinz Bozen, den lokalen Körperschaften, lokalen Unternehmen und, im übergeordneten Sinn, von allen relevanten Akteuren, die sich an diesem Prozess beteiligen möchten.{% endtrans %}</p>

<h3>{% trans %}Wie wir arbeiten{% endtrans %}</h3>

<p>{% trans %}Der Katalog wird von einem Projektteam verwaltet, das aus Experten der verschiedenen Bereiche besteht (Sammlung, Analyse und Datenmodellierung, Semantik und rechtliche Korrektheit des Eröffnungsprozesses, organisatorische Auswirkungen). Die Arbeitsgruppe wird von der Informatikabteilung der Autonomen Provinz Bozen koordiniert, der die Verantwortung von der Landesregierung für das Projekt Open Data Südtirol übertragen wurde.{% endtrans %}</p>

<p>{% trans %}Die Seite stützt sich auf eine Open-Source-Software zur Katalogisierung von Daten namens CKAN, die von der Open Knowledge Foundation entwickelt wurde: eine Non-Profit-Organisation, die das freie Wissen fördert.{% endtrans %}</p>

<p>{% trans %}Jeder Eintrag enthält eine Beschreibung der Daten (Metadaten) und anderer nützlicher Informationen wie verfügbare Größen, Inhaber, freier Zugang und Wiederverwendung, sowie die Themen, die die Daten betreffen. CKAN, für verschiedene Datenkataloge im Internet verwendet, konvergiert in Stammdaten (The Data Hub): eine zentrale Sammlung frei veränderbar und wiederverwendbar, ähnlich wie Wikipedia.{% endtrans %}</p>

<h3>{% trans %}Open Data als Prozess{% endtrans %}</h3>

<p>{% trans %}Der Veröffentlichung der Daten lässt auf ein beachtliches Innovationsniveau schließen: allein die Öffnung durch eine öffentliche Institution ist ein großer Erfolg in Hinblick auf die organisatorischen Veränderungen der Datenkultur und wissensbasierten Wirtschaft.{% endtrans %}</p>

<p>{% trans %}Aus diesem Grund wird der Katalog ständig angepasst: ausgehend von der Öffnung der Datenverbindungen ergeben sich andere Denk- und Arbeitsweisen, sowohl im öffentlichen als auch im privaten Bereich: die Daten als private Ressource für Verwaltungszwecke hin zu den Daten als  "öffentliches Gut" für öffentliche und soziale Zwecke.{% endtrans %}</p>

<p>{% trans %}Die Informationen des öffentlichen Sektors gelten als Basis-Plattform, deren Applikationen noch zu schreiben sind.{% endtrans %}</p>

<p>{% trans %}Damit diese riesigen Veränderungen stattfinden können, braucht es auch Sie. Senden Sie uns Ihre Anregungen und Rückmeldungen an (<a href="mailto:opendata@buergernetz.bz.it">opendata@buergernetz.bz.it</a>).{% endtrans %}</p>

<p>{% trans %}Für detaillierte Informationen besuchen Sie bitte unsere <a href="http://dati.retecivica.bz.it/de/faq" target=”_blank” title=”Link esterno, si apre in una nuova finestra”>FAQs</a> {% endtrans %}</p>

