<div class="align-text">
	<h2>Note legali</h2>
	<p>Il catalogo Open data dell'Alto Adige contiene dati raccolti da diversi enti e pubblicati da questi in modo autonomo.

	I dati presenti sul catalogo <a href="http://dati.retecivica.bz.it" target=”_blank” title=”Link esterno, si apre in una nuova finestra”>dati.retecivica.bz.it</a> sono pubblicati ai sensi del D. Lgs 36/2006, del D. Lgs. 82/2005 (Codice dell'Amministrazione Digitale), del D. Lgs. 33/2013.
	I dati e i documenti presenti sul catalogo sono stati raccolti, trattati, pubblicati e aggiornati ai sensi degli artt. 50 ss. del D. Lgs. 82/2005 e di ulteriori disposizioni di legge individuate per specifiche tipologie di dati e sono pubblicati autonomamente dalla struttura che ne ha la titolarità e la responsabilità .

	La Provincia Autonoma di Bolzano non è responsabile della pubblicazione dei dati presenti sul catalogo di cui non abbia la titolarità o la piena disponibilità.

	I dati sono messi a disposizione di chiunque voglia riutilizzarli per qualunque scopo. Chi ne effettua il download manuale o tramite API, si assume la piena responsabilità sull'utilizzo dei dati e sulle conseguenze che possano derivarne a terzi.

	I dati, una volta scaricati, non potranno essere riaggregati in un unico dataset in modo da violare le prescrizioni a tutela del segreto statistico e della riservatezza dei dati personali, aggirando le misure di protezione adottate in vista della loro diffusione. La Provincia Autonoma di Bolzano non sarà responsabile per eventuali rielaborazioni e riaggregazioni illecite. Inoltre, chiunque scarichi i dati rilasciati su questo sito è tenuto a evitare qualsiasi tentativo di re-identificazione dei dati personali già anonimizzati.

	<h4>I dati presenti sul catalogo sono rilasciati con licenza Creative Commons Zero o in casi particolari e giustificati con licenza Creative Commons Attribuzione.</h4>
	<p>Ogni prodotto o società menzionati in questo sito sono marchi dei rispettivi proprietari o titolari e possono essere protetti da brevetti e/o copyright concessi o registrati dalle autorità preposte.

	Il presente sito non è una testata giornalistica e viene aggiornato senza alcuna periodicità prefissata. Non può, quindi, essere considerato un prodotto editoriale ai sensi della L. 62/2001. La Provincia Autonoma di Bolzano si assume la piena responsabilità di ciò che è scritto nelle pagine informative (Informazioni, FAQ, etc.) in quanto frutto del proprio libero pensiero.

	Se ritieni che i dati pubblicati non siano corretti o se ritieni di essere stato leso nei tuoi diritti puoi rivolgerti direttamente al Titolare del dataset indicato nella scheda di metadatazione e segnalarlo con una email a <a href="mailto:opendata@retecivica.bz.it">opendata@retecivica.bz.it</a>  in modo che si possa provvedere tempestivamente.

	Ad integrazione delle presenti Note si rinvia alle Note Legali del Portale istituzionale della Provincia Autonoma di Bolzano.</p>


	<h3>Editrice della rete civica</h3>
	<p>
		Provincia autonoma di Bolzano
	</p> 


	<h3>Committenza</h3>
	<p>
		Provincia autonoma di Bolzano <br/>
		Ripartizione Informatica <br/>
		Direttore di ripartizione: Dott. Kurt Pöhl<br/>
		Via Crispi 15, <br/>
		39100 Bolzano, Italia <br/>
		e-mail: informatica@provincia.bz.it <br/>
		tel. +39 0471 414900 - fax +39 0471 414909
	</p>

	<h3>Responsabilità dei contenuti</h3>
	<p>
		La responsabilità dei contenuti delle singole informazioni, dei servizi e delle pagine collegate tramite link 
		è dei relativi enti, uffici ed organizzazioni.
	</p>

	<h3>Assistenza tecnica</h3>
	<p>
		La Rete civica dell'Alto Adige viene pubblicata e curata da Informatica Alto Adige SPA su incarico della 
		Provincia autonoma di Bolzano - Alto Adige.
	</p>

	<br/>

	<p>
		<span style="font-weight: bold;">Informatica Alto Adige Spa - http://www.siag.it/ - </span><br/>
		<span style="font-weight: bold;">E-mail: </span>info@siag.it<br/>
		<span style="font-weight: bold;">Rappresentante legale:</span>
		<span>Arch. Paolo Berlanda</span><br/>
		<span>tel. +39 0471 566000 - fax + 39 0471 566099</span><br/>
		<span>Via Siemens 29, I-39100 BOLZANO, Italia</span><br/>
		<span style="font-weight: bold;">Iscrizione C: C.I.A.A Bolzano:</span> n° 123013<br/>
		<span style="font-weight: bold;">Iscrizione Tribunale di Bolzano:</span> n° 7287<br/>
		<span style="font-weight: bold;">Partita IVA:</span> 01468500218<br/>
	</p>

	<h3>Sviluppo soluzione software portale Open Data</h3>
	<p>
		Lo sviluppo della soluzione software relativa al portale open data è avvenuto in collaborazione con la 
		ditta	
	    <a target="_new" href="http://www.geo-solutions.it" style="text-decoration: none;">
			<img src="../images/logo/GeoSolutions_logo.png" width="100"></img>
		</a>
	</p>
</div>