
<h2>{% trans %}Rechtliche Anmerkungen:{% endtrans %}</h2>
<p>{% trans %}Der Open Data Katalog Südtirol enthält Daten, die von mehreren Institutionen gesammelt und von diesen autonom veröffentlicht werden.

Die im Katalog <a href="http://daten.buergernetz.bz.it" target=”_blank” title=”Link esterno, si apre in una nuova finestra”>daten.buergernetz.bz.it</a> enthaltenen Daten wurden laut den gesetzlichen Vorschriften D. Lgs. 36/2006, D. Lgs. 82/2005 (Kodex der Digitalen Verwaltung), D. Lgs. 33/2013 veröffentlicht.

Die Daten und Dokumente im Katalog sind gesammelt, untersucht, veröffentlicht und aktualisiert worden gemäß Art. 50ff. des D. Lgs. 82/2005 und weitere gesetzliche Vorschriften gemäß der technischen Besonderheiten der Daten, die autonom von der jeweiligen Struktur veröffentlicht werden, sofern sie Eigentümer ist und die Verantwortung übernimmt.

Die Autonome Provinz Bozen ist nicht für die Veröffentlichung der Daten im Katalog verantwortlich, für die sie nicht Eigentümer ist und daher nicht die Verantwortung übernimmt.

Die Daten sind für alle zugänglich, die sie zu jedem Zweck weiterverwenden wollen. Diejenigen, die manuell oder über eine API einen Download durchführen, übernehmen die Haftung für die Verwendung der Daten und die Folgen, die für Dritte entstehen könnten.

Sind die Daten heruntergeladen worden, können sie nicht mehr zu einem einzigen Datensatz zusammengerechnet werden, um den Anforderungen der statistischen Geheimhaltung personenbezogener Daten und den Sicherheitsmaßnahmen im Hinblick auf ihre Verteilung gerecht zu werden. Die Autonome Provinz Bozen ist nicht verantwortlich für eventuelle Nachbearbeitungen oder illegale Datenaggregationen. Darüber hinaus wird jeder, der Daten von dieser Website herunterlädt, gebeten, keinen Versuch zu unternehmen, bereits anonymisierte Daten erneut zu identifizieren.{% endtrans %}

<h4>{% trans %}Die im Katalog veröffentlichten Daten werden mit der Lizenz „Creative Commons Null“ und in gerechtfertigten Sonderfällen mit „Creative Commons Attribution“ veröffentlicht.  {% endtrans %}</h4>
<p>{% trans %}Alle auf dieser Website erwähnten Produkte und Firmen sind Marken der jeweiligen Inhaber oder Eigentümer und können von Patenten und / oder Urheberrechten geschützt oder von den Behörden registriert sein.

Diese Seite ist keine Online-Zeitung und wird in nicht festgelegten Abständen aktualisiert. Sie kann daher nicht als redaktionelles Produkt im Rahmen des Gesetzes 62/2001 angesehen werden. Die Autonome Provinz Bozen übernimmt die Verantwortung für jene Inhalte, die als Ergebnis des eigenen freien Denkens auf den Informationsseiten (Informationen, FAQ, etc.) zu finden sind.

Falls Sie glauben, dass die veröffentlichten Daten nicht korrekt sind oder Sie sich in Ihren Rechten verletzt fühlen, wenden Sie sich bitte direkt an den Eigentümer des Datasets, der in der Beschreibung der Metadating angegeben ist. Oder schreiben Sie Ihr Anliegen an <a href="mailto:opendata@buergernetz.bz.it">opendata@buergernetz.bz.it</a>, sodass Sie umgehend eine Antwort erhalten.  
{%endtrans %}</p>