
<div class="align-text">
	<h2>Rechtliche Anmerkungen:</h2>

    <p>Die Daten im Südtiroler Open Data-Katalog (<a href="http://daten.buergernetz.bz.it" target=”_blank” title=”Link esterno, si apre in una nuova finestra”>daten.buergernetz.bz.it</a>) werden von den einzelnen Körperschaften Südtirols gesammelt und werden als deren Eigentum in Eigenverantwortung unabhängig veröffentlicht.</p>

    <p>Diese Daten werden gemäß Gesetzesdekret 36/2006, Gesetzesdekret 82/2005 (Kodex der Digitalen Verwaltung) und Gesetzesdekret Nr. 33/2013 sowie zusätzlichen, für bestimmte Typologien identifizierten Rechtsvorschriften veröffentlicht.</p>

    <p>Die Autonome Provinz Bozen und die anderen Südtiroler Einrichtungen bemühen sich, die Qualität der publizierten Information kontinuierlich hoch zu halten und stellen die Daten aber in dem Zustand zur Verfügung, in dem sie sich aktuell befinden und leisten keine Gewähr jeglicher ausdrücklicher oder gesetzlich implizierter oder anderer Art, weshalb unter anderem die Garantien für die Eignung für einen bestimmten Zweck, für die Nichtverletzung von Rechten Dritter (Urheberrecht oder andere), für das Fehlen latenter oder anderer Mängel, für die Genauigkeit und der Fehlerlosigkeit ausgeschlossen werden. </p>

    <p>Die Autonome Provinz Bozen und die andere Südtiroler Körperschaften, die die Daten veröffentlichen, sind in keiner Weise weder für Schäden auch an Dritte verantwortlich, die durch die Verwendung der Informationen entstehen können, noch sind sie verantwortlich für Überarbeitungen und eventuellen illegalen Datenaggregationen.</p>

    <p>Die Daten werden jedem zur Verfügung gestellt, der sie für jeden vom Gesetz erlaubten Zweck wiederverwenden möchte. Einmal heruntergeladen, dürfen die Daten nicht wieder zu einzelnen Datenbeständen aggregiert werden mit der Absicht jene Vorkehrungen zu umgehen, die zum Schutz der statistischen Geheimhaltung und der Vertraulichkeit von personenbezogenen Daten im Sinne der Veröffentlichung getroffen wurden. Darüber hinaus ist jeder, der die veröffentlichten Daten von dieser Website herunterlädt, verpflichtet, jeglichen Versuch einer erneuten Identifizierung bereits anonymisierter personenbezogenen Daten zu vermeiden.</p>


	<h4>Die Daten im Katalog werden unter der Verzichtserklärung Creative Commons Zero, kurz CC0, oder in speziellen und begründeten Fällen unter der Lizenz Creative Commons Namensnennung, kurz CC BY, veröffentlicht.</h4>


	<p>Jedes Produkt oder Unternehmen, das auf dieser Website erwähnt wird, sind Warenzeichen ihrer jeweiligen Eigentümer oder Inhaber und können durch Patente und / oder Urheberrechte geschützt sein, die von den zuständigen Behörden erteilt oder registriert werden. Diese Seite stellt kein journalistisches Informationsblatt dar und wird ohne feste Periodizität aktualisiert. Es kann daher nicht als redaktionelles Produkt gemäß Gesetz 62/2001 angesehen werden. Die Autonome Provinz Bozen übernimmt die volle Verantwortung für das, was in den Informationsseiten (Informationen, FAQs usw.) wiedergegeben wird, da dies das Ergebnis der eigenen freien Gedanken darstellt.</p>

    <p>Wenn Sie glauben, dass die veröffentlichten Daten nicht korrekt sind oder wenn Sie glauben, dass Ihre Rechte verletzt worden sind, dann können Sich direkt an den Daten-Eigentümer wenden, der im Metadaten-Formular des Datenbestandes angegebenen wird und melden Sie dies bitte mit einer E-Mail an <a href="mailto:opendata@buergernetz.bz.it">opendata@buergernetz.bz.it</a>, sodass hier eine Korrektur prompt veranlasst werden kann.</p>

    <p>Ergänzend zu diesen Anmerkungen wird auf die rechtlichen Hinweise des institutionellen Portals der Autonomen Provinz Bozen verwiesen.</p>

	<h3>Herausgeber</h3>
	<p>
		Herausgeber des Bürgernetzes ist die Autonome Provinz Bozen.
	</p> 


	<h3>Auftraggeber für das Bürgernetz:</h3>
	<p>
		Autonome Provinz Bozen<br/>
		Abteilung für Informationstechnik <br/>
		Abt. Dir.: Dr. Kurt Pöhl<br/>
		Crispistr. 15<br/>
		39100 Bozen, Italia <br/>
		E-Mail: informationstechnik@provinz.bz.it <br/>
		Tel. +39 0471 414900 - FAX +39 0471 414909
	</p>

	<h3>Inhaltliche Verantwortung</h3>
	<p>
		Für den Inhalt der einzelnen Informationsangebote, der Dienste und der verlinkten Seiten sind die 
		zuständigen Körperschaften, Ämter und Organisationen verantwortlich.
	</p>

	<h3>Technische Betreuung</h3>
	<p>
		Verantwortlich für die technische Realisierung, Betreuung und Wartung des Südtiroler Bürgernetzes ist
		die Südtiroler Informatik AG.
	</p>

	<br/>

	<p>
		<span style="font-weight: bold;">Südtiroler Informatik AG - http://www.siag.it/ - </span><br/>
		<span style="font-weight: bold;">E-mail: </span>info@siag.it<br/>
		<span style="font-weight: bold;">Gesetzlicher Vertreter::</span>
		<span>Arch. Paolo Berlanda</span><br/>
		<span>tel. +39 0471 566000 - fax + 39 0471 566099</span><br/>
		<span>Siemensstraße 29, I-39100 BOZEN, Italien</span><br/>
		<span style="font-weight: bold;">Eintrag bei der Handelskammer Bozen:</span> Nr. 123013<br/>
		<span style="font-weight: bold;">Eintrag beim Gericht Bozen:</span> Nr. 7287<br/>
		<span style="font-weight: bold;">MwSt.Nr.:</span> 01468500218<br/>
	</p>

	<h3>Entwicklung der Softwarelösung des Open Data Portals</h3>
	<p>
		Die Entwicklung der Softwarelösung des Open Data Portals fand in Zusammenarbeit mit der Firma
	    <a target="_new" href="http://www.geo-solutions.it" style="text-decoration: none;">
			<img src="../images/logo/GeoSolutions_logo.png" width="100"></img>
		</a>
		statt.
	</p>
</div>
