
<h2>{% trans %}Note legali{% endtrans %}</h2>
<p>{% trans %}Il catalogo Open data dell'Alto Adige contiene dati raccolti da diversi enti e pubblicati da questi in modo autonomo.

I dati presenti sul catalogo dati.trentino.it sono pubblicati ai sensi del D. Lgs 36/2006, del D. Lgs. 82/2005 (Codice dell'Amministrazione Digitale), del D. Lgs. 33/2013.
I dati e i documenti presenti sul catalogo sono stati raccolti, trattati, pubblicati e aggiornati ai sensi degli artt. 50 ss. del D. Lgs. 82/2005 e di ulteriori disposizioni di legge individuate per specifiche tipologie di dati e sono pubblicati autonomamente dalla struttura che ne ha la titolarità e la responsabilità .

La Provincia Autonoma di Bolzano non è responsabile della pubblicazione dei dati di cui non abbia la titolarità o la piena disponibilità presenti sul catalogo .

I dati sono messi a disposizione di chiunque voglia riutilizzarli per qualunque scopo. Chi ne effettua il download manuale o tramite API, si assume la piena responsabilità sull'utilizzo dei dati e sulle conseguenze che possano derivarne a terzi.

I dati, una volta scaricati, non potranno essere riaggregati in un unico dataset in modo da violare le prescrizioni a tutela del segreto statistico e della riservatezza dei dati personali, aggirando le misure di protezione adottate in vista della loro diffusione. La Provincia Autonoma di Trento non sarà responsabile per eventuali rielaborazioni e riaggregazioni illecite. Inoltre, chiunque scarichi i dati rilasciati su questo sito è tenuto a evitare qualsiasi tentativo di re-identificazione dei dati personali già anonimizzati.{% endtrans %}</p>

<h4>{% trans %}I dati presenti sul catalogo sono rilasciati con licenze Creative Commons Zero{% endtrans %}</h4>
<p>{% trans %}Ogni prodotto o società menzionati in questo sito sono marchi dei rispettivi proprietari o titolari e possono essere protetti da brevetti e/o copyright concessi o registrati dalle autorità preposte.

Il presente sito non è una testata giornalistica e viene aggiornato senza alcuna periodicità prefissata. Non può, quindi, essere considerato un prodotto editoriale ai sensi della L. 62/2001. La Provincia Autonoma di Bolzano si assume la piena responsabilità di ciò che è scritto nelle pagine informative (Informazioni, FAQ, etc.) in quanto frutto del proprio libero pensiero.

Se ritieni che i dati pubblicati non siano corretti o se ritieni di essere stato leso nei tuoi diritti puoi rivolgerti direttamente al Titolare del dataset indicato nella scheda di metadatazione e segnalarlo con una email a------- in modo che si possa provvedere tempestivamente.

Ad integrazione delle presenti Note si rinvia alle Note Legali del Portale istituzionale della Provincia Autonoma di Bolzano.{%endtrans %}</p>