
<h2>{% trans %}Informativa sulla privacy{% endtrans %}</h2>
<p>{% trans %}Informativa per il trattamento dei dati personali, ai sensi dell'art. 13 D.Lgs. 196/2003

Ai sensi dell'art. 13 del Decreto Legislativo 196/2003, la Provincia Autonoma di Bolzano, titolare del trattamento dei dati acquisiti nell'ambito del portale dati.retecivica.bz.it informa che i dati personali forniti dagli utenti saranno utilizzati per gestire i servizi informativi (newsletter/blog) e/o di assistenza richiesti (via mail) nell'ambito della propria attività istituzionale.

Il trattamento effettuato con l'ausilio esclusivo di procedure informatizzate, nei modi e nei limiti necessari a perseguire le predette finalità. I dati personali raccolti non saranno diffusi n comunicati e potranno essere trattati dagli incaricati del trattamento e da responsabili esterni, formalmente designati, nei limiti di quanto necessario per erogare il servizio informativo e/o prestare assistenza richiesta.

Il conferimento dei dati facoltativo ma necessario per ricevere il servizio informativo e/o di assistenza.{% endtrans %}</p>

<h2>{% trans %}Titolare del trattamento la Provincia Autonoma di Bolzano{% endtrans %}</h2>
<p>{% trans %}Il Responsabile del trattamento è individuato ai sensi della Del. Giunta Provinciale numero ????????

Gli Interessati possono esercitare i diritti previsti all'art. 7 del Decreto Legislativo 196/2003 rivolgendosi al Titolare o al Responsabile del trattamento.

{%endtrans %}</p>

<br/>

<p>{% trans %}Per informazioni anche possibile scrivere a ----------.{%endtrans %}</p>







