{% set tags = h.get_facet_items_dict('tags', limit=8) %}
{% set placeholder = _('Cerca per...') %}

<div class="extended_search">
  <h1>{% trans %}Trova i dati che ti interessano{% endtrans %}</h1>
  <form class="module-content search-form home-search-form" method="get" action="{% url_for controller='package', action='search' %}">
    <legend>{% trans %}Cerca i dati e ottieni gli aggiornamenti per i dataset e le categorie a cui sei interessato{% endtrans %}</legend>
    <!--h3 class="heading">{{ _("Search Your Data") }}</h3-->
    <div class="search_field search-input control-group">
      <input type="text" class="search" name="q" value="" autocomplete="off" placeholder="{{ placeholder }}"  />
      <button type="submit">
        <i class="icon-search"></i>
        <span>{{ _('Search') }}</span>
      </button>
    </div>
  </form>
  <div class="tags home-tags">
    <!--h3>{{ _('Popular Tags') }}</h3-->
	<h2>{% trans %}Tag maggiormente utilizzati{% endtrans %}</h2>	
	{% for tag in tags %}
		<div class="btn-col">
		  <a class="btn-ck btn-block" href="{% url_for controller='package', action='search', tags=tag.name %}" title="{{ tag.display_name }}">{{ h.truncate(tag.display_name, 16) }}</a>
		</div>      
	{% endfor %}	
  </div>
</div>
