
<section class="additional-info">
  <h3>{{ _('Additional Info') }}</h3>
  <table class="table table-striped table-bordered table-condensed">
    <tbody>
      {% block package_additional_info %}

        {% if pkg_dict.author_email %}
          {% set author = h.getLocalizedFieldValue('author', pkg_dict) %}
          <tr>
            <th scope="row" class="dataset-label">{{ _("Author") }}</th>
            <td class="dataset-details" property="dc:creator">{{ h.mail_to(email_address=pkg_dict.author_email, name=author or pkg_dict.author) }}</td>
          </tr>
        {% elif pkg_dict.author %}
          {% set author = h.getLocalizedFieldValue('author', pkg_dict) %}
          <tr>
            <th scope="row" class="dataset-label">{{ _("Author") }}</th>
            <td class="dataset-details" property="dc:creator">{{ author or pkg_dict.author }}</td>
          </tr>
        {% else %}
          <tr>
            <th scope="row" class="dataset-label">{{ _("Author") }}</th>
            <td class="dataset-details">{{ _('N/D') }}</td>
          </tr>
        {% endif %}

        {% if pkg_dict.url %}
          {% set url = h.getLocalizedFieldValue('url', pkg_dict) %}
          <tr>
            <th scope="row" class="dataset-label">{{ _("Origin") }}</th>
            <td class="dataset-details" property="dc:creator">{{ h.link_to(url or pkg_dict.url , url or pkg_dict.url, rel='foaf:homepage', target='_blank') }}</td>
          </tr>
        {% else %}
          <tr>
            <th scope="row" class="dataset-label">{{ _("Origin") }}</th>
            <td class="dataset-details">{{ _('N/D') }}</td>
          </tr>
        {% endif %}

      {% endblock %}
    </tbody>
  </table>
</section>
