{#
Displays a sidebard module with navigation containing the provided resources.
If no resources are provided then the module will not be displayed.

pkg       - The package dict that owns the resources.
active    - The id of the currently displayed resource.
action    - The controller action to use (default: 'resource_read').

Example:

  {% snippet "package/snippets/resources.html", pkg=pkg, active=res.id %}

#}
{% set resources = pkg.resources or [] %}
{% if resources %}

  {% set geocat_url = [] %}

  {% for extra in pkg.extras%}
    {% if extra.key == 'geocat_layer_url'%}
      {% do geocat_url.append(extra.value) %}
    {% endif %}
  {% endfor%}

  {% block resources %}
    <section class="module module-narrow resources">
      {% block resources_inner %}
        {% block resources_title %}
          <h2 class="module-heading"><i class="icon-copy"></i> {{ _("Resources") }}</h2>
        {% endblock %}
        {% block resources_list %}
          <ul class="unstyled nav nav-simple">
            <!-- Unnamed resources and WFS resources from geocatalog should not be shown -->
            {% for resource in resources %}
              {% set wfs_geocat = geocat_url[0] and resource.format == "WFS" %}

              {% if resource.name != 'Unnamed resource' and not wfs_geocat %}
                <li class="nav-item{{ ' active' if active == resource.id }}">
                  {% link_for h.resource_display_name(resource)|truncate(25), controller='package', action=action or 'resource_read', id=pkg.name, resource_id=resource.id, inner_span=true %}
                </li>
              {% endif %}
            {% endfor %}
          </ul>
        {% endblock %}
      {% endblock %}
    </section>
  {% endblock %}
{% endif %}
