{% extends "page.html" %}

{% set locale = h.get_locale() %}

{% block subtitle %}
    {% if locale == 'de' %}
		{{ _(' häufige gestellte Fragen FAQs') }}
	{% else %}
		{{ _(' Domande frequenti FAQs') }}
	{% endif %}
{% endblock %}

{% block breadcrumb_content %}
    {% if locale == 'de' %}
    	 <li class="active">{% link_for _('häufige gestellte Fragen FAQ'), controller='ckanext.provbz.controllers.provbz:PROVBZController', action='provbzfaq' %}</li>
  	{% else %}
		 <li class="active">{% link_for _('Domande frequenti FAQs'), controller='ckanext.provbz.controllers.provbz:PROVBZController', action='provbzfaq' %}</li>
  	{% endif %}
{% endblock %}

{% block primary %}
  <article class="module">
    <div class="module-content">
      {% block about %}          
          {% if locale == 'de' %}
          	{% snippet 'home/snippets/faq_de.html' %}
          {% else %}
			{% snippet 'home/snippets/faq.html' %}
          {% endif %}
      {% endblock %}
    </div>
  </article>
{% endblock %}

{% block secondary %}{% endblock %}