
{% set locale = h.get_locale() %}

<div id="center-body">
	<div role="main" class="hero">
	  <div class="container">
		{% snippet 'home/snippets/search.html' %}
	  </div>
	</div>
	
	<div class="page-top">
      <div class="container">
        <h1>{% trans %}Benvenuto nella piattaforma Open Data Alto Adige{% endtrans %} <a href={{ h.getLocalizedPageLink("dataset?q=") }} type="button" class="btn-dataset-link">{% trans %}ACCEDI AI DATASET{% endtrans %}</a></h1>
      </div>
    </div>
</div>
<div role="main">
  <div class="container">
    <div class="row row2">
      <div class="span6 col1">
        {# % snippet 'home/snippets/stats.html' % #}
        {% snippet 'home/snippets/recently_updated_dataset_list.html' %}		
      </div> 
	  <div class="span6 col2 col-ck">
        {#% snippet 'home/snippets/promoted.html' %#} 
		  <div class="col-sm-6">
            {% set news_page = h.get_news_preview('news') %}
            {% if news_page %}
              <div class="news-box">
                <h2>
                  {% trans %}Ultime News{% endtrans %}
                </h2>
                {% set locale = h.get_locale() %}
                <div class="news">  
                  <!--img class="news-object" src="{{h.url_for_static('/images/news-img.jpg')}}" alt="..."-->  

                  {% if news_page.title %}
                    <h4>{{ news_page.title }}</h4>
                  {% endif %}

                  {% if news_page.image %}
                    <img class="news-object"  src="{{ news_page.image }}" />
                  {% endif %}
                  <br/>
                  {% if news_page.publish_date %}
                  <h3 class="dataset-heading">  
                    <small class="date"> {{ h.render_datetime(news_page.publish_date, date_format='%d/%m/%Y') }} </small>
                  </h3>
                  {% endif %}

                  {{ h.markdown_extract(news_page.content) }}
                  
                  {# { h.render_content(h.truncate(news_page.content, 350)) } #}
                  <!--h3 class="news-heading"><a href="#">Lorem ipsum dolor sit amet</a></h3>
                  <img class="news-object" src="{{h.url_for_static('/images/news-img.jpg')}}" alt="...">
                  <div class="news-body">
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                      consequat. 
                    </p>
                  </div-->
                </div>
                <div id="alltextlink" align="right">
                  <h3 class="news-heading"><a href={{ h.getLocalizedPageLink('pages/news') }}>{% trans %}Leggi tutto il contenuto{% endtrans %}</a></h3>
                </div>                       
              </div>
            {% endif %}
            <a href="https://www.facebook.com/opendata.southtyrol?fref=ts" target="_blank">
              <img style="margin-bottom: 20px;" class="news-object" src="{{h.url_for_static('/images/fb_' + locale +  '.png')}}" alt="..." />
            </a>
          </div>
      </div>
    </div>
  </div>
  
  <div class="background-light-grey">
  	<div class="container container-home">
  	  <div class="prymary align-text">
    		<h2>
    		  {% trans %}Cosa sono gli OPENdata?{% endtrans %}
    		</h2>
    		<p>{% trans %}Per dati si intendono pezzi di singola informazione di varia natura, che descrivono fatti riproducibili senza ambiguità e che possono essere espressi e archiviati in formati digitali.
          Il Codice dell'Amministrazione Digitale (art. 68, c. 3, lett. b) definisce dati aperti i dati che presentano le seguenti caratteristiche:{% endtrans %}
            <br/>
            <ul>
              <li>{% trans %}sono disponibili secondo i termini di una licenza che ne permetta l'utilizzo da parte di chiunque, anche per finalità commerciali, in formato disaggregato{% endtrans %}</li>
              <li>{% trans %}sono accessibili attraverso le tecnologie dell'informazione e della comunicazione, ivi comprese le reti telematiche pubbliche e private, in formati aperti ai sensi della lettera a), sono adatti all'utilizzo automatico da parte di programmi per elaboratori e sono provvisti dei relativi metadati{% endtrans %}</li>
              <li>{% trans %}sono resi disponibili gratuitamente attraverso le tecnologie dell'informazione e della comunicazione, ivi comprese le reti telematiche pubbliche e private, oppure sono resi disponibili ai costi marginali sostenuti per la loro riproduzione e divulgazione{% endtrans %}</li>
            </ul>
    		</p>
    		<!--div class="more">
    		  <a role="button" href="#" class="btn-ck more-info">{% trans %}Leggi tutto{% endtrans %} <i class="icon-angle-right"></i></a>
    		</div-->
  	  </div>
  	</div> 
  </div>
  
  <div class="sponsor">
	<div class="container container-home">
	  <div class="row">
		<div class="logos row">
		  <a href="http://www.provincia.bz.it/{{ locale }}/" target="_blank" class="partners-logos">
			 <img src="{{h.url_for_static('/images/logo/logo_pr.png')}}" alt="Provincia autonoma di Bolzano" class="img-responsive pr_bz" height="45">
		  </a>

      {% if locale == 'de' %}
        <a href="http://www.comune.bolzano.it/index_de.html" target="_blank" class="partners-logos">
      {% else %}
        <a href="http://www.comune.bolzano.it/index_it.html" target="_blank" class="partners-logos">
      {% endif %}
       <img src="{{h.url_for_static('/images/logo/logo-bolzano.png')}}" alt="Comune di Bolzano" class="img-responsive consorzio_comuni" height="45">
      </a>

      {% if locale == 'de' %}
		    <a href="http://www.gvcc.net/system/web/default.aspx?menuonr=218264968" target="_blank" class="partners-logos">
      {% else %}
        <a href="http://www.gvcc.net" target="_blank" class="partners-logos">
      {% endif %}
			 <img src="{{h.url_for_static('/images/logo/logo_cc.png')}}" alt="Consorzio dei Comuni di Bolzano" class="img-responsive consorzio_comuni" height="45">
		  </a>

      <a href="http://www.eurac.edu/{{ locale }}/pages/default.aspx" target="_blank" class="partners-logos">
       <img src="{{h.url_for_static('/images/logo/logo_EURAC.jpg')}}" alt="EURAC Research" class="img-responsive consorzio_comuni" height="45">
      </a>
      <a href="http://www.sasabz.it/{{ locale }}/" target="_blank" class="partners-logos">
       <img src="{{h.url_for_static('/images/logo/logo_SASA.gif')}}" alt="SASA Bus" class="img-responsive consorzio_comuni" height="45">
      </a>
		</div>
	  </div>
	</div>
  </div>
</div>