{#
Displays a single of dataset.

package        - A package to display.
item_class     - The class name to use on the list item.
hide_resources - If true hides the resources (default: false).
banner         - If true displays a popular banner (default: false).
truncate       - The length to trucate the description to (default: 180)
truncate_title - The length to truncate the title to (default: 80).

Example:

  {% snippet 'snippets/package_item.html', package=c.datasets[0] %}

#}
{% set truncate = truncate or 180 %}
{% set truncate_title = truncate_title or 80 %}
{% set title = package.title or package.name %}
{% set notes = h.markdown_extract(package.notes, extract_length=truncate) %}


{% set geocat_url = [] %}

{% for extra in package.extras%}
  {% if extra.key == 'geocat_layer_url'%}
    {% do geocat_url.append(extra.value) %}
  {% endif %}
{% endfor%}
<script>
  function get_URL() {
    return h.url_for(controller='package', action='read', id=package.name)
  }
</script>

{% block package_item %}
  <li class="{{ item_class or "dataset-item" }}">
    <div class="package-item-clickable" onClick="location.href=get_URL()">
    {% block content %}
      <div class="dataset-content">
        {% block heading %}
          <h3 class="dataset-heading">
            {% block heading_private %}
              {% if package.private %}
                <span class="dataset-private label label-inverse">
                  <i class="icon-lock"></i>
                  {{ _('Private') }}
                </span>
              {% endif %}
            {% endblock %}
            {% block heading_title %}
              {{ h.link_to(h.truncate(title, truncate_title), h.url_for(controller='dataset', action='read', id=package.name)) }}
            {% endblock %}
            {% block heading_meta %}
              {% if package.get('state', '').startswith('draft') %}
                <span class="label label-info">{{ _('Draft') }}</span>
              {% elif package.get('state', '').startswith('deleted') %}
                <span class="label label-important">{{ _('Deleted') }}</span>
              {% endif %}
              {{ h.popular('recent views', package.tracking_summary.recent, min=10) if package.tracking_summary }}
            {% endblock %}
          </h3>
        {% endblock %}
        {% block banner %}
          {% if banner %}
            <span class="banner">{{ _('Popular') }}</span>
          {% endif %}
        {% endblock %}
        {% block notes %}
          {% if notes %}
            <div>{{ notes|urlize }}</div>
          {% else %}
            <p class="empty">{{ _("This dataset has no description") }}</p>
          {% endif %}
        {% endblock %}
      </div>
      {% block resources %}
        {% if package.resources and not hide_resources %}
          {% block resources_outer %}
            <ul class="dataset-resources unstyled">
              {% block resources_inner %}
                {% for resource in h.dict_list_reduce(package.resources, 'format') %}
                  {% set geocat = geocat_url[0] and (resource == "WFS" or resource == "WCS" or resource == "WMS") %}

                  {% if not geocat %}
                    <!--li>
                      <a href="{{ h.url_for(controller='package', action='read', id=package.name) }}" class="label" data-format="{{ resource.lower() }}">{{ resource }}</a>
                    </li-->
                    <li>
                      <span class="label" data-format="{{ resource.lower() }}">{{ resource }}</span>
                    </li>
                  {% endif %}
                {% endfor %}

                {% if geocat_url[0]%}
                  <li>
                    <span id="geocat_label" class="label">{% trans %}Geocatalogo{% endtrans %}</span>
                  </li>
                {% endif %}
              {% endblock %}
            </ul>
          {% endblock %}
        {% endif %}
      {% endblock %}
    {% endblock %}
    </div>
  </li>
{% endblock %}
