@font-face {
    font-family: 'dejavu_sansbook';
    src: url('../fonts/DejaVuSans-webfont.eot');
    src: url('../fonts/DejaVuSans-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/DejaVuSans-webfont.woff') format('woff'),
         url('../fonts/DejaVuSans-webfont.ttf') format('truetype'),
         url('../fonts/DejaVuSans-webfont.svg#dejavu_sansbook') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'dejavu_sanscondensed';
    src: url('../fonts/DejaVuSansCondensed-webfont.eot');
    src: url('../fonts/DejaVuSansCondensed-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/DejaVuSansCondensed-webfont.woff') format('woff'),
         url('../fonts/DejaVuSansCondensed-webfont.ttf') format('truetype'),
         url('../fonts/DejaVuSansCondensed-webfont.svg#dejavu_sanscondensed') format('svg');
    font-weight: normal;
    font-style: normal;

}

/*---------------- Override of ckan base CSS --------------*/

/*.media-grid {
    margin-left: -15px;
	margin-right: -22px;
}*/

.span9 .page-header {
    margin-left: -5px !important;
}

.lang-select label, .lang-select select, .lang-select .lang-container {
    float: none;
    margin-top: 0;
	width: 100% !important;
}

a {
    color: #96191A;
    text-decoration: none;
}

.btn-primary {
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
    background-color: #B11D1E;
    background-image: -moz-linear-gradient(top,#B11D1E,#B11D1E);
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#B11D1E),to(#B11D1E));
    background-image: -webkit-linear-gradient(top,#B11D1E,#B11D1E);
    background-image: -o-linear-gradient(top,#B11D1E,#B11D1E);
    background-image: linear-gradient(to bottom,#B11D1E,#B11D1E);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#B11D1E',endColorstr='#B11D1E',GradientType=0);
    border-color: #B11D1E #B11D1E #B11D1E;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .btn-primary.disabled, .btn-primary[disabled] {
    color: #ffffff;
    background-color: #96191A;
}

a.tag:hover {
    text-decoration: none;
    color: #fff;
    background-color: #B11D1E;
    border: 1px solid #96191A;
    -webkit-box-shadow: inset 0 1px 0 #B11D1E;
    -moz-box-shadow: inset 0 1px 0 #B11D1E;
    box-shadow: inset 0 1px 0 #B11D1E;
}

.btn-col{
	float: left;
	width: 22%;
	padding-right: 10px;
    padding-left: 10px;
}

.btn-ck {
    display: inline-block;
    padding: 4px 12px;
    margin-bottom: 0;
    font-size: 14px;
    line-height: 25px;
    text-align: center;
	color: #fff;
	background-color: #B11D1E;
    vertical-align: middle;
    cursor: pointer;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
	border-color: #a71718;
	margin-top: 3px;
    margin-bottom: 3px;
	text-decoration: none;
	/*height: 34px;*/
}

.btn-ck:hover {
    color: #fff;
    background-color: #96191A;
    border-color: #96191A;
	text-decoration: none;
}

.btn-ck:active {
    color: #fff;
    background-color: #204d74;
    border-color: #122b40;
	text-decoration: none;
}

.btn-ck:visited {
    color: #fff;
	text-decoration: none;
}

.btn-ck:focus {
    color: #fff;
	text-decoration: none;
}

.more {
    text-align: right;
}

.prymary {
    padding-top: 15px;
    padding-bottom: 15px;
}

.prymary h2 {
    margin-top: 0;
	color: inherit;
    font-family: dejavu_sanscondensed;
    font-weight: 500;
    line-height: 1.1;
}

.more-info{
	height: 25px !important;
}

.background-light-grey {
    background-color: #eee;
}

.container-home {
    margin: 0 auto;
}

.logos {
    padding-top: 20px;
    padding-bottom: 25px;
    text-align: center;
}

/* header */
.account-masthead {
    min-height: 30px;
    color: #ffffff;
    background: #ffffff;
}

.masthead {
    min-height: 55px;
    color: #ffffff;
    background: #ffffff;
}

.ck-row{
	padding-top: 10px;
}

.navbar {
    margin-top: 5px;
    min-height: 30px;
    margin-bottom: 0;
    border: 1px solid transparent;
    font-family: dejavu_sanscondensed;
}

.navbar > li > a {
    color: #333 !important;
	text-transform: uppercase;
}

.masthead .navigation .nav-pills {
    margin-bottom: 5px;
}

.masthead .navigation .nav-pills li a:hover, .masthead .navigation .nav-pills li.active a {
    background-color: #ffffff;
	color: #96191A !important;
}

/* body */
.account-masthead {
    min-height: 30px;
    color: #ffffff;
    background: #ffffff;
    width: 1170px;
}

body {
    font-family: "dejavu_sansbook";
    font-size: 14px;
    color: #333;
    background: #404041;
    margin: 0 auto;
    width: 100%;
}

[role=main], .main {
    background: #ffffff;
}

.hero {
    background-image: url("../images/bg_intro.jpg");
	background-position: bottom center;
    background-size: cover;
    background-repeat: no-repeat;
	/*height: 290px;*/
	min-height: 290px;
}

.search-form {
    margin-bottom: 20px;
    padding-bottom: 25px;
    border-bottom: 0px dotted #dddddd;
}

.extended_search .module-content {
    padding: 0;
    margin:  0;
}

.search-form .search-input button i {
    color: #000000;
    -webkit-transition: color 0.2s ease-in;
    -moz-transition: color 0.2s ease-in;
    -o-transition: color 0.2s ease-in;
    transition: color 0.2s ease-in;
}

.search-form .search-input button:hover i {
    color: #404040;
}

/* footer */
.site-footer {
    min-height: 55px;
    border-top: 1px solid #a4a5a5;
    color: #454544;
    background: #e4e4e5;
    padding: 1em 0;
}

.site-footer a {
    color: #454544;
}

.powered-by{
	padding-top: 25px;
}

.ck-row-footer{
	/*width: 100%;*/
}

.footer-links ul li {
    margin-bottom: 0px;
}

.footer-lks  li  > a > i {
	padding-right: 5px;
}

.footer-left{
	width: 300px;
	float: left;
}

.footer-center{
	/*width: 350px;
	margin-left: 80px;*/
	float: left;
}

.footer-right{
	width: 350px;
	float: right;
}

.footer-right nav > ul > li > i{
	margin-right: 5px;
}

.logo_footer{
	margin-bottom: 20px;
}

.account ul > li {
    display: block;
    float: left;
    border-left: 0px solid #00232e;
	padding-right: 15px;
}

.attribution.footer-right > form {
	margin-top: 50px;
}


.span9 {
    /*width: 940px;*/
}

.container{
}

/*---------------- PROV-BZ's ckan CSS ---------------------*/

.extended_search {
    background-image: url("../images/bg-weiss-70.png");
    margin-top: 10px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
    max-width: 800px;
	/*height: 245px;*/
    margin: 0 auto;
    overflow: visible;
}

.extended_search form legend {
	border-bottom: 0px solid #e5e5e5;
	margin-bottom: 5px;
    font-size: 14px;
    line-height: inherit;
    color: #333;
    border: none;
	padding: 0;
}

.extended_search h1 {
    font-size: 26px;
	margin-top: 0;
	color: inherit;
    font-family: dejavu_sanscondensed;
    font-weight: 500;
    line-height: 1.1;
}

.search-form .search_field {
    margin-top: 0px;
}

.home-search-form .search-input input {
    height: 40px;
}

.search_field  input{
    display: block;
    width: 100%;
    height: 40px;
    padding: 3px 6px;
    font-size: 16px;
    line-height: 1.42857;
    position: relative;
}

.tag_container h2 {
    font-size: 22px;
	color: inherit;
    font-family: dejavu_sanscondensed;
    font-weight: 500;
    line-height: 1.1;
}

#center-body {
    background: #cd0e16;
}

.page-top > div.container > h1{
    color: inherit;
    font-family: dejavu_sanscondensed;
    line-height: 1.1;
    font-weight: normal;
    font-size: 22px;
	color: #ffffff;
	margin: 0;
}

.page-top > div.container > h1 a {
    color: #fff;
    border: 1px solid #fff;
    text-transform: uppercase;
    text-decoration: none;
}

.btn-dataset-link {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.page-top {
    background-color: #cd0e16;
    color: #fff;
    padding-top: 1em;
    padding-bottom: 1em;
    text-align: center;
}

.inner-ck{
	padding: 0px 0px !important;
}

.home-dataset-list{
	margin-bottom: 30px;
}

.home-dataset-list .dataset-heading a {
    color: #B11D1E !important;
	font-size: 18px;
}

.home-dataset-list h3 {
    color: inherit;
    font-family: dejavu_sanscondensed;
    font-weight: 500;
    line-height: 1.1;
}

.home-dataset-list h2{
    color: inherit;
    font-family: dejavu_sanscondensed;
	font-size: 22px;
	font-weight: 500;
    line-height: 1.1;
}

.home-dataset-list .dataset-item{
	border-bottom: 0px dotted #dddddd;
}

.main-ck{
	background-color: #EEE;
}

.news-box {
    border: 1px solid #ddd;
    margin-top: 0px;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 3px;
    min-height: 200px;
}

.news-box h2 {
    margin-top: 0;
	font-size: 22px;
	color: inherit;
    font-family: dejavu_sanscondensed;
    font-weight: 500;
    line-height: 1.1;
}

.news .news-object {
    display: block;
    max-width: 100%;
    height: auto;
}

.news .news-object {
    width: 150px;
    margin: 5px 10px 0px 0px;
    /*float: left;*/
}

.news .news-heading {
    margin: 0px 0px 8px;
}

.news .news-body {
    margin-top: 10px;
}

.news-body p {
    margin: 0 0 10px;
}

.col-ck{
	float: right;
	/*width: 600px;*/
}

.news-heading  {
    color: inherit;
    font-family: dejavu_sanscondensed;
    font-weight: 500;
    line-height: 1.1;
	font-size: 18px;
}

.news-heading a:hover  {
	color: #B11D1E !important;
    font-size: 18px;
}

.category-head{
    list-style: none;
}

.category-head label{
	color: #B11D1E;
	font-weight: 900;
	font-size: 12px;
	background-color: #EEE;
}

.disabled span {
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    color: #7E7B7B;
    font-size: 14px;
    line-height: 20px;
    margin: -7px -25px;
}

.wrapper {
    /*width: 1170px;*/
    margin: 0 auto;
}

#geocat_label{
    background-color: #4B7D51;
}

#alltextlink h3{
    width: 190px;
}

.format_th{
    width: 150px;
}

.faq_index{
    text-decoration: underline;
}

a .footer_icon{
    display: inline-flex;
    width: 15px;
}

.pbz-media-heading{
    width: 160px;
}

.package-item-clickable{
    cursor: pointer;
}

.package-item-clickable a:hover{
    color: #B11D1E;
    text-decoration: none;
}

.nav-tabs a:hover{
    color: #333333;
}

.btn-group.open .btn-primary.dropdown-toggle {
    background-color: #711708;
}

.partners-logos{
    padding-right: 5px;
}

.align-text{
    text-align: justify;
}

.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus, .dropdown-submenu:hover>a, .dropdown-submenu:focus>a {
    text-decoration: none;
    color: #ffffff;
    background-color: #967876;
    background-image: -moz-linear-gradient(top,#967876,#75231A);
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#967876),to(#75231A));
    background-image: -webkit-linear-gradient(top,#967876,#75231A);
    background-image: -o-linear-gradient(top,#967876,#75231A);
    background-image: linear-gradient(to bottom,#967876,#75231A);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff967876',endColorstr='#ff75231A',GradientType=0);
}

a:hover, a:focus {
    color: #333333;
    text-decoration: underline;
}

div.align-text th{
    text-align: center;
}

.copyrights{
    width: 550px;
    font-size: 12px;
    padding-top: 10px;
}

.geosolutions_logo {
    background: url('../images/logo/GeoSolutions_logo.png') center  no-repeat;
}

/* Custom headers */
.masthead-navbar {
    min-height: 46px;
    color: #ffffff;
    background: #b4c420;
    border-top: 1px solid #a4a5a5;
    border-bottom: 1px solid #a4a5a5;
}

.masthead-navbar .navigation .nav-pills {
    margin: 0;
}

.masthead-navbar .navigation .nav-pills li {
    margin: 0;
}

.masthead-navbar .navigation .nav-pills a {
    border-radius: 0;
    height: 46px;
    margin: 0;
    padding-top: 0;
    padding-bottom: 0;
    display: flex;
    align-items: center;
}

.masthead-navbar .navigation .nav-pills li a:hover, .masthead-navbar .navigation .nav-pills li a:focus {
    background-color: #66700c;
    color: white !important;
    border-bottom: 4px solid #e04b3a;
    box-sizing: border-box;
}

.masthead-navbar .navigation .nav-pills li.active a {
    background-color: transparent;
    color: black !important;
    font-weight: bold;
}

.masthead-top {
    min-height: auto;
    border-bottom: 1px solid #a4a5a5;
}

.masthead-top .civis-link {
    color: #94a212;
    padding: 4px 0;
    display: flex;
    align-items: center;
    font-weight: bold;
    width: 130px;
}
.masthead-top .civis-a-link {
    width: 130px;
    display: block;
}

.masthead-top .civis-link .civis-logo {
    padding-right: 8px;
    width: 32px;
    height: 32px;
    background: url('../images/logo/170576_Logo_CIVIS_bz_it_RGB.svg') center no-repeat;
    background-size: 100% auto;
}

.masthead-top .civis-link span, .masthead-top .civis-link i {
    color: #454544;
}

.masthead .ck-row {
    padding: 8px 0;
}

.lang-select label {
    color: #454544;
}
